<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
<form>
	<input type="checkbox" value="off" name="test" class="next">tomorrow<br>
	<input type="checkbox" value="off" name="test" class="next2">2<br>
	<input type="checkbox" value="off" name="test" class="next3">3<br>
	<input type="checkbox" value="off" name="test" class="next4">4<br>
</form>
<p></p>

</body>
</html>